#MainMenu {
  visibility: hidden;
}            
footer {
  visibility: hidden;
}

#covid-19 {
  font-weight: 100;
  font-size:100px;
  padding: 0;
  border: 0;
  margin: 0;
}

#vaccine-doses-administered-per-100-people {
  font-weight: 100;
  padding: 0px 0px 0px 10px;
}

h1 {
  font-family:'Times New Roman', serif;
  font-weight: 100;
}

p {
  font-family:'Times New Roman', serif;
  font-size: 17px;
}

/* change the select box width */
div[data-baseweb="select"]>div {
  width: 50%;
}